<div class="row">
  <div class="col-sm-12">
    <form>
      <div class="row">
        <div class="col-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            #nameInput>
        </div>
        <div class="col-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            #amountInput>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-btn">
          <button (click)="onAddItem()" type="button" class="btn btn-success" name="button" type="button">ADD</button>
          <button type="button" class="btn btn-danger" name="button" type="button">Delete</button>
          <button type="button" class="btn btn-primary" name="button" type="reset">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
